[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dobson"]
	path = dobson
	url = https://github.com/agbarnett/dobson
[submodule "season"]
	path = season
	url = https://github.com/agbarnett/season
