[submodule ".registry"]
	path = .registry
	url = https://github.com/agbarnett/agbarnett.r-universe.dev
	branch = HEAD
[submodule "dobson"]
	path = dobson
	url = https://github.com/agbarnett/dobson
[submodule "season"]
	path = season
	url = https://github.com/agbarnett/season
